<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <property name="DEV_HOME" value="./logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-24.-24thread %10.10X{jda.shard} %-15.-15logger{0} [ %-6level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-24.-24thread %10.10X{jda.shard} %-15.-15logger{0} [ %-6level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/App.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${DEV_HOME}/App.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 20 days' worth of history capped at 40MB total size -->
            <maxHistory>20</maxHistory>
            <totalSizeCap>40MB</totalSizeCap>
        </rollingPolicy>
        <!-- allow only INFO and over level logs -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} [%thread] [ %-6level] [%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/App-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- rollover based on current debug file size -->
            <fileNamePattern>${DEV_HOME}/App-debug.%i.log.zip</fileNamePattern>
            <!-- keep 4 debug files -->
            <minIndex>1</minIndex>
            <maxIndex>4</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- rollover when file size reaches 10 MB -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss} [%thread] [ %-6level] [%logger{0}] %.-1000msg%n</pattern>
        </encoder>
    </appender>

    <logger name="union" level="DEBUG" additivity="true">
        <appender-ref ref="FILE-DEBUG"/>
        <appender-ref ref="CONSOLE-DEBUG" />
    </logger>

    <logger name="net.dv8tion" level="DEBUG" additivity="true">
        <appender-ref ref="FILE-DEBUG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>